/*
 * GenesisPHP - Plantilla Simple
 */

/* GLOBALES */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding-top:50px;
    padding-bottom:40px;
}
a        { color:#800; }
a:hover  { color:#F00; }

/* TITULO */
.titulo {
    margin-top:8px;
    margin-bottom:8px;
    padding-top:0;
    padding-bottom:0;
    line-height:1.0;
    border-bottom:none;
}

/* COLLAPSE */
.panel-default {
    border-color:#BBB;
}

/* PIEZAS DE TIERRA */
.detalle,
.formulario,
.listado,
.tren {
    margin-top:8px;
    margin-bottom:8px;
    padding:8px;
    border:1px solid #CCC;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
    border-radius:4px;
}
.mensaje {
    margin-top:8px;
    margin-bottom:8px;
    padding:8px;
    border:1px solid #CCC;
}
.mapa {
    height:500px;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #CCC;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
    border-radius:4px;
}
.grafica {
    height:300px;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #CCC;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
    border-radius:4px;
}

/* PIEZAS DE TIERRA DENTRO DE COLLAPSE */
.panel-body .detalle,
.panel-body .formulario,
.panel-body .listado,
.panel-body .mensaje,
.panel-body .mapa,
.panel-body .grafica,
.panel-body .tren {
    border:none;
}

/* FORMULARIOS */
.form-group { margin-bottom:5px; }

/* TABLAS */
.table th {
    background-color:#DDD;
}
.cantidad,
.decimal,
.dinero,
.entero,
.flotante,
.porcentaje {
    text-align:right;
    white-space:nowrap;
}
.nd {
    text-align:center;
    background-color:#EEE;
}

/* PIE */
footer {
    font-size:12px;
    padding:4px;
    background-color:#333;
    color:#CCC;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1001;
}

/* COLORES */
.blanco      { background-color:white; }
.gris        { background-color:#E5E5E5; }
.oscuro      { background-color:#BFBFBF; }
.rosa        { background-color:#EAD4DF; }
.rosafuerte  { background-color:#EAA4C7; }
.rojo        { background-color:#FFD3D3; }
.naranja     { background-color:#FFDAAE; }
.amarillo    { background-color:#FFFFCC; }
.verde       { background-color:#D9FFD9; }
.verdeoscuro { background-color:#95BC95; }
.azul        { background-color:#DADAFF; }
.nivel1      { background-color:#FFFFFF; }
.nivel2      { background-color:#D1FFFF; }
.nivel3      { background-color:#D1FFEC; }
.nivel4      { background-color:#D1FFD1; }
.nivel5      { background-color:#E8FFD1; }
.nivel6      { background-color:#FFFFD1; }
.nivel7      { background-color:#FFE8D1; }
