/*
 * GenesisPHP - Tierra Impresora
 */

/* Global */

body {
    font-family:'Courier New',monospaced;
    font-size:12pt; }

* {
    background-color: white !important;
    background-image: none !important;
}
