/*
 * GenesisPHP - Plantilla Dashboard
 */

/* Globales */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding-top:64px;
    padding-bottom:40px;
}
a       { color:#800; }
a:hover { color:#F00; }

/* Menu secundario  */
#menu-secundario { display:none; }
@media (min-width: 768px) {
    #menu-secundario {
        position:fixed;
        top:51px;
        bottom:0;
        left:0;
        z-index:1000;
        display:block;
        padding:20px;
        overflow-x:hidden;
        overflow-y:auto;
        line-height:1.0;
    }
}
#menu-secundario ul {
    margin-left:-20px;
    margin-right:-20px;
}
#menu-secundario .nav > li > a {
    padding:8px 20px;
}

/* Contenido */
.contenido {
    padding-left:20px;
    padding-right:20px;
}
.derecha {
    text-align:right;
}

/* Titulo */
.titulo {
    margin-top:8px;
    margin-bottom:8px;
    padding-top:0;
    padding-bottom:0;
    line-height:1.0;
    border-bottom:none;
}

/* Lenguetas */
.nav-tabs {
    border-bottom:none;
}

/* Piezas de Tierra */

.barra   { margin:0; padding:0; }
.listado,
.tren    { margin:0; padding:0 4px; }
.detalle,
.formulario,
.mapa,
.grafica,
.mensaje { margin:0; padding:8px 4px; }
.barra               { margin-top:4px; }
.barra .navbar-right { margin-right:4px; }
.mapa                { height:500px; }
.grafica             { height:300px; }

/* Piezas de Tierra dentro de Collapse */

.panel-body             { padding:4px; }
.panel-body .barra,
.panel-body .detalle,
.panel-body .formulario,
.panel-body .listado,
.panel-body .mensaje,
.panel-body .mapa,
.panel-body .grafica,
.panel-body .tren       { margin:0 4px; padding:0; }

/* Sin esquinas redondeadas */

.barra,
.listado,
.tren {
    -webkit-border-radius:0;
    -webkit-border-radius:0;
       -moz-border-radius:0;
    border-radius:0;
}

/* Tablas */
.table th {
    background-color:#DDD;
}
.cantidad,
.decimal,
.dinero,
.entero,
.flotante,
.porcentaje {
    text-align:right;
    white-space:nowrap;
}
.nd {
    text-align:center;
    background-color:#EEE;
}

/* Pie */
footer {
    font-size:12px;
    padding:4px;
    background-color:#333;
    color:#CCC;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1001;
}
footer a {
    font-weight:bold;
    color:#FFF;
}
footer a:hover,
footer a:active {
    color:#FFF;
}

/* Colores */
.blanco      { background-color:white; }
.gris        { background-color:#E5E5E5; }
.oscuro      { background-color:#BFBFBF; }
.rosa        { background-color:#EAD4DF; }
.rosafuerte  { background-color:#EAA4C7; }
.rojo        { background-color:#FFD3D3; }
.naranja     { background-color:#FFDAAE; }
.amarillo    { background-color:#FFFFCC; }
.verde       { background-color:#D9FFD9; }
.verdeoscuro { background-color:#95BC95; }
.azul        { background-color:#DADAFF; }
.nivel1      { background-color:#FFFFFF; }
.nivel2      { background-color:#D1FFFF; }
.nivel3      { background-color:#D1FFEC; }
.nivel4      { background-color:#D1FFD1; }
.nivel5      { background-color:#E8FFD1; }
.nivel6      { background-color:#FFFFD1; }
.nivel7      { background-color:#FFE8D1; }
