/*
 * GenesisPHP - Tierra
 */

/* Global */

body      { font-family:'Liberation Sans',Verdana,Helvetica,Arial,sans-serif; font-size:10pt; background-color:#DDD; }
a,
a:link,
a:visited { color:#04A; text-decoration:none; }
a:hover,
a:focus   { color:#06D; text-decoration:none; }
table th  { background-color:#DDD; }

/* Menus colores los vinculos */

.nav > li > a,
.nav > li > a:link,
.nav > li > a:visited { color:#444; }
.nav > li > a:hover,
.nav > li > a:focus   { color:#000; }

.navbar-top-links li a,
.navbar-top-links li a:link,
.navbar-top-links li a:visited { color:#CCC; }
.navbar-top-links li a:hover,
.navbar-top-links li a:focus   { color:#FFF; }

.navbar-static-top .navbar-header .navbar-brand,
.navbar-static-top .navbar-header .navbar-brand:link,
.navbar-static-top .navbar-header .navbar-brand:visited { color:#CCC; }
.navbar-static-top .navbar-header .navbar-brand:hover,
.navbar-static-top .navbar-header .navbar-brand:focus   { color:#FFF; }

/* Menus fondos */

.navbar { background-color:#DDD; }

.navbar-static-top                                    { background-color:#444; }
.navbar-static-top .navbar-header .navbar-brand:hover,
.navbar-static-top .navbar-header .navbar-brand:focus { background-color:#666; }
.navbar-top-links li a:hover,
.navbar-top-links li a:focus                          { background-color:#666; }
.navbar-top-links li a.active                         { background-color:#222; }

.sidebar ul li a,
.sidebar ul li a:link,
.sidebar ul li a:visited { background-color:#DDD; }
.sidebar ul li a:hover,
.sidebar ul li a:focus   { background-color:#FFF; }
.sidebar ul li a.active  { background-color:#BBB; }

/* Contenido */

#contenido { background-color:#FFF; }

.page-header { margin-top:0; margin-bottom:20px; padding-top:12px; border-bottom:none; }

/* Lenguetas */

.nav-tabs { border-bottom:none; }

ul.lenguetas > li > a,
ul.lenguetas > li > a:link,
ul.lenguetas > li > a:visited { color:#888; background-color:#DDD; border-color:#CCC; border-bottom:none; }
ul.lenguetas > li > a:hover,
ul.lenguetas > li > a:focus   { color:#000; background-color:#CCC; border-color:#444; border-bottom:none; }

ul.lenguetas > li.active > a,
ul.lenguetas > li.active > a:hover,
ul.lenguetas > li.active > a:focus { color:#222; background-color:#FFF; border-color:#CCC; border-bottom:none; }

/* Piezas de Tierra */

.barra      { border:none; background-color:#FFF; }
.listado,
.tren,
.detalle,
.formulario,
.mapa,
.grafica,
.mensaje    { padding:4px; border:1px solid #CCC; }

/* Piezas de Tierra dentro de collapse */

.panel-default          { border-color:#CCC; }
.panel-body .barra,
.panel-body .detalle,
.panel-body .formulario,
.panel-body .listado,
.panel-body .mensaje,
.panel-body .mapa,
.panel-body .grafica,
.panel-body .tren       { margin:4px; border:none; }
